* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg-pattern-desktop.png);
  font-family: Spartan, sans-serif;
  font-size: 15px;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}

.top h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 20px;
  color: hsl(300, 43%, 22%);
}

.top p {
  font-size: 18px;
}

.customer-rating {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(300, 24%, 96%);
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 13px;
  font-size: 13px;
}

.text h3 {
  color: hsl(300, 43%, 22%);
}

.rating-img {
  margin-right: 10px;
}

.stack-two {
  margin-left: 14px;
}

.stack-three {
  margin-left: 25px;
}

/*

.section-left {
  margin: 15px 0px 50px 15px;
}

.stack {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 40px 0px 50px 50px;
  padding: 20px 50px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
}

.stack p {
  font-size: 15px;
}

.bottom {
  margin: 150px 10% 100px;
  display: flex;
  box-sizing: border-box;
}

.card {
  padding: 30px;
  box-sizing: border-box;
  margin: 50px auto;
  border-radius: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

img {
  border-radius: 60px;
  padding: 20px;
}

h5 {
  flex-direction: column;
}

.card.one {
  background-color: hsl(300, 43%, 22%);
}

.card.two {
  background-color: hsl(300, 43%, 22%);
}

.card.three {
  background-color: hsl(300, 43%, 22%);
} */
