* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg-pattern-desktop.png);
  font-family: Spartan, sans-serif;
  font-size: 15px;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
}

.top h1 {
  font-size: 60px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 30px;
  color: hsl(300, 43%, 22%);
}

.top p {
  font-size: 18px;
}

.section-left {
  margin-top: 65px;
}

.customer-rating {
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(300, 24%, 96%);
  padding: 17px 50px;
  border-radius: 6px;
  margin-bottom: 13px;
  font-size: 13px;
}

.text h3 {
  color: hsl(300, 43%, 22%);
}

.rating-img {
  margin-right: 25px;
}

.stack-one {
  margin-bottom: 20px;
  margin-right: 120px;
}

.stack-two {
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 39px;
}

.stack-three {
  margin-left: 80px;
}

.bottom {
  margin-top: 70px;
}

.review-card {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 450px;
  height: 200px;
  background-color: hsl(300, 43%, 22%);
  padding: 20px;
  border-radius: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-avatar img {
  width: 50px;
  height: auto;
  border-radius: 60px;
  padding: 10px;
}

.profile h4 {
  font-size: 14px;
  color: white;
  margin-bottom: 3px;
}

.profile h5 {
  font-size: 10px;
  color: hsl(333, 80%, 67%);
  margin-bottom: 3px;
}

.review {
  padding: 7px;
}

.review p {
  font-size: 13px;
  color: white;
  margin-top: 15px;
}

.card.one {
  margin-right: 15px;
}

.card.two {
  margin-top: 20px;
  margin-right: 15px;
}

.card.three {
  margin-top: 45px;
}

footer {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 375px) {
  .top h1 {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
  }

  .top p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }

  .stack-two {
    margin-left: 0;
  }

  .stack-three {
    margin-left: 0;
  }

  .rating-img {
    margin-right: 0;
  }

  .customer-rating {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .card {
    width: 80%;
    margin-top: 16px;
  }

  .review-card {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
